@import '../vendor/bootstrap/less/bootstrap.less';
/* Variables
-------------------------------------------------- */
@body-bg:               #b1b3c2;
@brand-info:            #5bc0de;
@brand-primary:         #82B3AE;
@bugaboo: #36393B;
@latesky: #45484B;
@rustred: #a63818; //#AD2F09;
@royalmarine: #3074A9;
@aProfunda: #08916D; // #005F6B; #033649;

@tablet: ~'only screen and (min-width: 768px)';
@netbook: ~'only screen and (min-width: 992px)';
@desktop: ~'only screen and (min-width: 1200px)';
@xtra-wide: ~'only screen and (min-width: 1780px)';

/* Global Styles
-------------------------------------------------- */

// colors to try in background
@blue-green: #778a85;
@blue-grey: #8291a3;
@blue-grey-lighter: #A8BCC5;
// only need one of these

*{
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
	// min-height: 100%;
	font-family: 'EB Garamond', serif;
  // set space for footer
  padding-bottom: 100px;

  background: #8F9699;
  // background-image: url(IMAGE_URL); /* fallback */
  // background-image: url(IMAGE_URL), -webkit-gradient(linear, left top, left bottom, from(#6cab26), to(#6ceb86)); /* Saf4+, Chrome */
  // background-image: url(IMAGE_URL), -webkit-linear-gradient(top, #6cab26, #6ceb86); /* Chrome 10+, Saf5.1+ */
  // background-image: url(IMAGE_URL),    -moz-linear-gradient(top, #6cab26, #6ceb86); /* FF3.6+ */
  // background-image: url(IMAGE_URL),      -o-linear-gradient(top, #6cab26, #6ceb86); /* Opera 11.10+ */

	@media @tablet {
		background: @blue-grey-lighter;
		background-image: url(../images/cardboard.png)
		, radial-gradient(ellipse at top right, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 78%)
		, radial-gradient(ellipse at bottom left, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 60%);
	}

}

@media @xtra-wide {
	.container {
		width: 1252px;
	}
}

h1, h2 {
	font-family: 'Arvo', serif;
}
h1 {
	text-transform: uppercase;
}

p {
	font-size: 120%;
	line-height: 125%;
}

p a {
	line-height: 125%;
}

a {
	color: #08916d;
}
iframe {
	width: 100%;
}
.navbar-header #phone {
	// color: red !important;
}
.translucent {
	background: rgba(255, 255, 255, 0.36);
	// border-radius: 3px;
}

.poncho {
	float: right;
}

.lefty {
	float: left;
}

.hide {
	display: none;
}

.panel {
	.translucent;
	border: none;
}

// make all images inside columns responsive
div[class^="col-"] img, div[class*=" col-"] img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.row {
	margin-top: 1.8%;
}

#getQuote {
	float: left;
	margin-right: 2%;

	 @media @netbook {
	  margin-right: 8%;
	  margin-top: -6%;
	  padding-bottom: 2%;
	}
}

/* Nav, navbar
-------------------------------------------------- */
nav {

}

.navbar {
	border-radius: 0px;
	margin-bottom: 0;

	@media @tablet {
		background: url('../images/mountain.jpg') no-repeat center center;
		background-size: cover;
		min-height: 13vh;
	}
}

.navbar-header {
	background: url('../images/mountain.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	font-size: 18px;


	@media @tablet {
		background-image: none;
		width: 21%;

	}
	@media @desktop {
		font-size: 1.4vw;
	}
	@media @xtra-wide {
		width: 367px;
		margin-left: 7.6% !important;
		font-size: 23px;
	}

	#phone {
		font-family: 'Arvo', serif;
		// font-size: 1.6em;
		color: @aProfunda;

		@media @tablet {
			margin-left: 31%;
			margin-top: 1vh;
			margin-bottom: -1vh;

		}

	}

	// Logo anchor, img

	a.logo {
		width: 92%;
		float: left;


		#brandImg {
			width: 46%;
			height: auto;
			margin-top: 8px;
			margin-bottom: 8px;
			margin-right: -8%;

			@media @tablet {
				width: 100%;
			}
			@media @xtra-wide {
				margin-bottom: 3vh;
			}

		}

	}

	// 'Performance. Reliability. Trust' text
	#pRT {
		font-family: 'EB Garamond', serif;
		@media @tablet {
			float: right;
			margin-right: -44vw;
			// position: absolute;

		}
		@media only screen and (min-width: 1429px) {
			margin-top: -.6vw;
		}
		@media @xtra-wide {
			margin-top: -1.3vw;
		}

	}

}

// Toggle button for mobile menu

button.navbar-toggle {
	position: absolute;
	right: 0;
	margin-top: -39px;
	.translucent;
	border-color: @latesky !important;

	span.icon-bar {
		background-color: @aProfunda !important;
	}

}

.navbar ul#theNav {

	@media @tablet {
		float: right;
		margin-right: 11vw;
		margin-top: 5vh;

		li:first-child a {
			padding-left: 0;
		}

	}

	li a {
		padding-left: 1vw;
		padding-right: 1vw;
	}

	li a {
		font-family: 'Arvo', serif;
		text-transform: uppercase;

		color: @latesky;
				&:hover {
					color: @rustred;
					background: none;
				}

		@media @tablet {
			font-size: 1.9vw;
			// line-height: 134px;
		}
		@media (min-width: 1333px) {
			font-size: 26px;
		}
	}

}


/* Footer
-------------------------------------------------- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #B5BCC3;

  hr {
    margin-top: 0;
    margin-bottom: 6px;
  }

  p {
    padding-top: 12px;
  }
  div.fb_foot {
    float: right;
    padding-right: 1.3%;
  }
  div.bbb {
    float: right;
  }

  div.container {

  }

}



/* Homepage
-------------------------------------------------- */
.carousel {
	// height: 35%;
	margin-bottom: 5%;

	@media @tablet {
		margin-bottom: 4vh;
	}


	.carousel-inner {
		overflow: hidden;
		max-height: 200px;

		@media @tablet {
			max-height: 56.25vw;
		}
		// @media @netbook {
		// 	max-height: 380px;
		// }
		@media @desktop {
			max-height: 675px;
		}
	}

	img.bg {
	  // position: fixed;
	  top: 0;
	  left: 0;

	  /* Preserve aspet ratio */
	  min-width: 100%;
	  // min-height: 75%;
	}

}

// Featurettes

// overide translucent background
// .home .panel {
// 	background: #ffffff;
// }

.home {

	.right p {
		padding-top: 3%;
	}


	@media @netbook {
		.panel {
			height: 341px;
		}

		.left {
			p {
				margin-top: 10.3%;
			}
			h2 {
				padding-left: 8%;
			}
		}

		.right {
			h2 {
				float: right;
				padding-right: 15%;
			}
			p {
				padding-top: 4%;
			}



		}

	}

}

/* Sidebars
-------------------------------------------------- */

.sidebarWrap {
	@media @netbook {
		.photo {
			margin-bottom: 2%;
		}
		.top-image {
			margin-top: 3%;
		}
	}
}

// Do it Right

.doIt {
	p {
		padding-top: 4%;
	}

}

/* Individual page overrides
-------------------------------------------------- */

/* About
-------------------------------------------------- */
.page-id-2 {
  h2 {
    @media @desktop {
      font-size: 28px;
    }
  }
}

/* Services
-------------------------------------------------- */
ul.serviceList {
	margin-left:7%
}

/* Tags
-------------------------------------------------- */
.tag .title-container {
	width: 84%;
	margin: 16px auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.back {
		font-size: 1.6em;
		display: inline-flex;
		align-items: center;
		border-right: 1px solid @aProfunda;
		padding-right: .6em;
		margin-right: .6em;
		.glyphicon {
			color: @aProfunda;
			top: 0;
			font-size: .9em;
		}
	}
	h1 {
		margin: 0;
	}
}


/* Gallery
-------------------------------------------------- */

// @tablet: ~'only screen and (min-width: 768px)';
// @netbook: ~'only screen and (min-width: 992px)';
// @desktop: ~'only screen and (min-width: 1200px)';
// @xtra-wide: ~'only screen and (min-width: 1780px)';

// Overview page

.page-id-7 {

	h1 small {
		color: #CDDBD8;
	}

	.gallery-thumb-wrapper {
		display: block;
		// max-height: 186px;
		// overflow: hidden;
	}

	.gallery-thumb {
		object-fit: cover;
	}

	.panel {
		padding: 2.4%;
		@media @netbook {
			height: 371px;
			}
			@media @desktop {
				height: 416px;
			}
	}

	.pagi .btn-lg {

		.translucent;

		border: 1px solid #333333;

		color: #91082C;

	}

}
// Single Gallery
.single-gallery .bodyContent {
	#slider ul.slides li {
		position: relative;
	}
}

#slider, #carousel {
	width: 84%;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 1%;
  background: rgba(255, 255, 255, 0.35);
	overflow: hidden;
}

.caption {
	position: absolute;
	width: 100%;
	min-height: 10%;
	background-color: rgba(0, 0, 0, 0.66);
	left: 0;
	bottom: 18px;
	color: #C2C1CF;

	h3 {
		float: right;
		margin-right: 2%;
	}
	p {
		margin-left: 2%;
		margin-right: 2%;
		font-size: 130%;
	}

}

#carousel {
	display: none;
	@media @tablet {
		display: block;

	  img {
	 	opacity: .5;
		}

	 	&:hover {
	 		opacity: 1;
	 	}


	}
}


#carousel .flex-active-slide img {
	opacity: 1;
}

.flex-direction-nav a {
	height: 44px;
}

// Override @font-face declaration to fix src path

@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Services
-------------------------------------------------- */

.page-id-11 li.list-group-item:nth-child(odd) {
	background: #EAEAEA;
}


/*
==========================================================================
Contact Form
==========================================================================
*/

/* Style form elements */
.wpcf7-form-control:not(.wpcf7-submit):not(.wpcf7-range):not(.wpcf7-checkbox):not(.wpcf7-radio):not(.wpcf7-acceptance):not(.wpcf7-file):not(.wpcf7-recaptcha) {
	.form-control;
}

.wpcf7-submit {
	.btn;
	.btn-primary;
	float: right;
}

/* Style validation */
div.wpcf7-validation-errors {
	margin: 0;
	.alert;
	.alert-warning;
}
span.wpcf7-not-valid-tip {
	.help-block;
	color: @state-danger-text;
}
.wpcf7-form-control.wpcf7-not-valid {
	border-color: @state-danger-text !important;
}

// Contact Form Sidebar

.contact-sidebar {

	div.item {
		clear: both;
		font-size: 1.33em;
	}

	strong.field {
		display: inline;
		float: left;
		width: 33%;
	}
	span.data {
		float: left;
	}

	#fb-sidebar {
		float: right;
		margin-right: 59%
	}

}
